.switch {
	position: relative;
	display: block;
	height: 2em;
	width: 3.5em;
	background-color: lightgrey;
	border-radius: 1em;
    transition: 600ms ease;
    
	&:after {
		content: "";
		position: absolute;
		top: 0.15em;
		left: 0.15em;
		height: 1.7em;
		width: 1.7em;
		border-radius: 50%;
		background-color: rgb(130, 126, 126);
        transition: 600ms ease;
	}
	&__checkbox {
		display: none;
	}
}

.switch__checkbox:checked + .switch:after {
    transition: 600ms ease;
    left: 1.65em;
    background-color: rgb(28, 175, 28)
}

.switch__checkbox:checked + .switch {
    background-color: rgb(29, 27, 27);
    transition: 600ms ease;
}